$color_1: rgb(245, 145, 127);
$color_2: brown;
$font-family_1: 'Playfair Display', serif;
$background-color_1: rgb(240, 170, 66);
$background-color_2: rgb(226, 237, 72);
$background-color_3: rgb(241, 192, 100);
$background-color_4: rgb(236, 109, 25);